nav {
  .navbar-title {
    font-size: 1.4rem;
    margin: {
      right: 2rem;
      left: 0.4rem;
    }
  }
  li {
    color: rgb(61, 61, 61);
    a {
      transition: 0.3s;
    }
    a:hover {
      transform: scale(1.1);
    }
  }
}
