<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img src="../../assets/images/pkball.png" width="30px" />
    <a class="navbar-brand navbar-title" href="#"> POKEDEX</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" href="#">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">My Teams</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 d-flex align-items-center">
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" href="#">Sign Up</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link active" aria-current="page" href="#">Login</a>
        </li>
        <li class="nav-item me-3">
          <i class="bi bi-box-arrow-right"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
