<div class="main-container d-flex flex-wrap gap-3">
  <div class="card" [routerLink]="['/gen1']">
    <div class="card-body">
      <h1 class="card-title">Gen 1</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Gen 2</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Gen 3</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Gen 4</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Gen 5</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Gen 6</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Gen 7</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Gen 8</h1>
    </div>
  </div>
</div>
