<div class="d-flex flex-wrap gap-3">
  <div class="card" style="width: 18rem" [routerLink]="['/gen1']">
    <div class="card-body">
      <h5 class="card-title">Gen 1</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Gen 2</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Gen 3</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Gen 4</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Gen 5</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Gen 6</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Gen 7</h5>
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Gen 8</h5>
    </div>
  </div>
</div>
