<!-- !loading spinner -->
<div class="spinner-div" *ngIf="loading === true">
  <div class="spinner-border text-light" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<!-- !actual page -->
<div *ngIf="loading === false" class="d-flex">
  <!-- !sidebar -->
  <div
    class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
    style="width: 280px"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
    >
      <span *ngIf="loggedUser == null" class="fs-4">Hello!</span>
      <span *ngIf="loggedUser !== null" class="fs-4"
        >Hello, {{ this.loggedUser.user.firstname }}!</span
      >
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a class="nav-link text-white" (click)="get1()">GEN 1 - KANTO</a>
      </li>
      <li>
        <a class="nav-link text-white" (click)="get2()"> GEN 2 - JOHTO</a>
      </li>
      <li>
        <a class="nav-link text-white" (click)="get3()"> GEN 3 - HOENN</a>
      </li>
      <li>
        <a class="nav-link text-white" (click)="get4()"> GEN 4 - SINNOH</a>
      </li>
      <li>
        <a class="nav-link text-white" (click)="get5()"> GEN 5 - UNIMA</a>
      </li>
      <li>
        <a class="nav-link text-white" (click)="get6()"> GEN 6 - KALOS </a>
      </li>
      <li>
        <a class="nav-link text-white" (click)="get7()"> GEN 7 - ALOLA</a>
      </li>
      <li>
        <a class="nav-link text-white" (click)="get8()"> GEN 8 - GALAR</a>
      </li>
    </ul>
  </div>
  <!-- !pokemons container -->
  <div>
    <div class="d-flex flex-wrap gap-3 main-container">
      <div
        *ngFor="let pokemon of pokemons"
        class="card"
        [ngClass]="{
            'grass': pokemon.type === 'grass', 
            'fire': pokemon.type === 'fire', 
            'water': pokemon.type === 'water',
            'normal': pokemon.type === 'normal',
            'fighting': pokemon.type === 'fighting',
            'flying': pokemon.type === 'flying',
            'poison': pokemon.type === 'poison',
            'ground': pokemon.type === 'ground',
            'rock': pokemon.type === 'rock',
            'bug': pokemon.type === 'bug',
            'ghost': pokemon.type === 'ghost',
            'steel': pokemon.type === 'steel',
            'electric': pokemon.type === 'electric',
            'psychic': pokemon.type === 'psychic',
            'ice': pokemon.type === 'ice',
            'dragon': pokemon.type === 'dragon',
            'dark': pokemon.type === 'dark',
            'fairy': pokemon.type === 'fairy'
          }"
        style="width: 12rem"
      >
        <!-- !Modal add to team -->
        <div
          class="modal fade"
          id="addPokemonModal_{{pokemon.pokeid}}"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div
            *ngIf="this.loggedUser !== undefined"
            class="modal-dialog modal-dialog-centered"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Add this pokemon to your team
                </h1>
                <i
                  aria-label="Close"
                  data-bs-dismiss="modal"
                  class="bi bi-x-lg close-icon"
                ></i>
              </div>
              <form (ngSubmit)="addPokemon(f.value, pokemon)" #f="ngForm">
                <div class="form-floating mb-2">
                  <h5 class="mt-3">Choose a team:</h5>
                  <select
                    class="form-select my-3"
                    ngModel
                    name="team_id"
                    required
                  >
                    <option
                      *ngFor="let team of userTeams"
                      value="{{ team.id }}"
                    >
                      {{ team.title }}
                    </option>
                  </select>
                </div>
                <div class="modal-footer row">
                  <button
                    type="button"
                    class="btn btn-modal col"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    type="submit"
                    class="btn btn-modal col"
                    data-bs-dismiss="modal"
                  >
                    Add
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- !end add pokemon to team modal -->
        <div class="card-body text-center">
          <i
            *ngIf="this.loggedUser !== null"
            data-bs-toggle="modal"
            [attr.data-bs-target]="'#addPokemonModal_'+pokemon.pokeid"
            class="bi bi-plus-circle add-pkmn"
          ></i>
          <img src="{{ pokemon.image }}" />
          <h5 class="card-title">
            <span class="pkmn-id">#{{pokemon.pokeid}}</span> {{pokemon.name |
            titlecase }}
          </h5>
        </div>
        <a class="btn" [routerLink]="['/pokemon', pokemon.pokeid]"
          ><span class="btn-text">Info</span></a
        >
      </div>
    </div>
  </div>
  <i (click)="toTop()" class="bi bi-chevron-up to-top"></i>
</div>
